
.Useful__container{
  max-width: 1320px;
  background-image: url(../../img/bgimgform.png);
  background-repeat: no-repeat;
  padding-left: 200px;
  margin-bottom: 264px;
  padding-bottom: 100px;
}

.useful__form{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  position: relative;
  margin-bottom: 216px;
}
.useful__links{
  align-items: center;
  padding-bottom: 88px;
  &::after{
    content: "";
    width: 613px;
    height: 481px;
    background-image: url(../../img/kissdog.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: inline-block;
    top: -108px;
    position: absolute;
  } 
  }

.useful__text{
  font-weight: 700;
font-size: 48px;
line-height: 20px;
align-items: center;
color: #FFFFFF;
padding: 92px 0 32px 0;
}
.useful__input{
  padding: 18px 147px 12px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  vertical-align: middle;
  &::placeholder{
    color: #949494;
  }
}

.useful__btn{
  padding: 16px 52px;
  background: #333333;
  border-radius: 3px;
  font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
margin-left: 21px;
vertical-align: middle;
transition-duration: 1s;
transition-property: all;
transition-timing-function: ease;
&:hover{
  background-color: rgb(243, 11, 162);
  border-radius: 180%;
}
}

.articles__text{
  font-weight: 700;
font-size: 48px;
line-height: 20px;
align-items: center;
color: #333333;
margin-bottom: 80px;
text-align: center;
}
.articles__item{
  max-width: 305px;
  background-color: #fff;
}
.dogrun{
    width: 355px;
}
.articles__img{
  max-width: 305px;
}
.articles__item:nth-child(3){
  margin-right: 24px;
}
.articles__time{
  font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #949494;
display: inline-block;
display: flex;
flex-direction: column;
text-align: end;
}
.articles__task{
  font-weight: 700;
font-size: 22px;
line-height: 25px;
color: #000000;
}
.articles__item-text{
  font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #949494;

}
.articles__list{
  display: flex;
  justify-content: space-between;
}
.articles__item:nth-child(2){
  padding-left: 20px;

}
.articles__hteg-block{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 40px;
}
.articles__hteg{
  font-weight: 400;
font-size: 14px;
line-height: 22px;
align-items: center;
text-align: center;
color: #3D9CEA;
margin-right: 67px;
margin-left: 30px;
}
.articles__hteg-content{
  margin-left: 30px;
}
.task1{
  font-size: 26px;
line-height: 29px;
margin-bottom: 15px;
}
.articles__task{
  margin-bottom: 10px;
}
@media only screen and (max-width:1300px) {
  .useful__links{
    &::after{
      display: none;
    }
  }
  .Useful__container{
    padding: 0;
    text-align: center;
    padding: 0 20px;
  }
   .articles__item{
  max-width: 250px;

   }
}
@media only screen and (max-width:1050px){
  .articles__list{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .articles__item{
    display: flex;
    align-items: center;
    max-width: 90%;
    margin-bottom: 20px;
  }
  .dogrun{
  display: none;
  }

}
  

@media only screen and (max-width:804px) {
  .Useful__container{
    padding:  0;
    padding-left: 20px;
  }
}
@media only screen and (max-width:604px) {
  .Useful__container{
    text-align: center;
    padding:0 ;
  }
  .dogrun{
    display: inline-block;
    height: 50%;
  }
  .articles__list{
    flex-direction:column
  }
  .articles__item{
    flex-direction: column;
  }
  .useful__input{
    margin-bottom: 20px;
  }

}
@media screen and (max-width:1300px) {
  .site-footer{
    display: none;
  }

}
@media only screen and (max-width:501px) {
  .useful__text{
    font-size: 30px;
    line-height: 20px;
  }
}
@media only screen and (max-width:410px) {
  .useful__input{

    padding: 9px 73px 6px 11px;}
    .useful__btn{
      padding: 8px 26px;
    }
    .Useful__container{
      text-align: start;
    }
    .articles__text{
      font-size: 36px;
      line-height: 20px;
    }
}