.veterinary__content{
  text-align: center;
  align-items: center;
  margin-bottom: 191px;
}
.veterinary-span{
  display: flex;
  width: 140px;
  margin-bottom: 43px;
  border: 1px solid #DBDBDB;
 display: inline-block;
}
.veterinary__container{
  margin-bottom: 235px;
}
.veterinary-text{
  font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #949494;
max-width: 753px;
margin: 0 auto;
margin-bottom: 35px;

}

.veterinary__clinik{
  font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #333333;
}
.veterinary__uslugi{
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  align-items: center;
  color: #333333;
  margin-bottom: 80px;
}
.veterinary__list{
  max-width: 1224px;
  display: flex;
  justify-content: space-between;

  text-align: center;
  margin-bottom: 14px;
}
.veterinary__item{
  flex-shrink: 1;
  width: 193px;
  height: 215px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease;
  &:hover{
    background-color: rgb(14, 243, 247);
    border-radius: 20%;
  }
}
.veterinary__list-item{
  width: 126px;
  font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #333333;
}
.veterinary__list-item::before{
  content: "";
  width: 54px;
  height: 77px;
  background-image: url(../../img/doctor.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 30px;
}
.item2::before{
  content: "";
  width: 72px;
  height: 77px;
  background-image: url(../../img/doctor2.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 30px;
}
.item3::before{
  content: "";
  width: 72px;
  height: 77px;
  background-image: url(../../img/dog.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 30px;
}
.item4::before{
  content: "";
  width: 72px;
  height: 77px;
  background-image: url(../../img/dog2.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 30px;
}
.item5::before{
  content: "";
  width: 72px;
  height: 77px;
  background-image: url(../../img/lupa.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 30px;
}
.item6::before{
  content: "";
  width: 72px;
  height: 77px;
  background-image: url(../../img/dog3.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 33px;
  margin-top: 30px;
}
.inspection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.inspection__cat-block{
  max-width: 524px;

  }

.inspection__task{
  font-weight: 500;
font-size: 36px;
line-height: 20px;
align-items: center;
color: #333333;
max-width: 333px;
margin-bottom: 18px;
}
.inspection__text{
  font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #949494;
max-width: 492px;
margin-bottom: 34px;
}
.inspection__link-block{
  display: flex;
  align-items: center;
  gap: 20px;
}
.link-block__yellow{
  padding: 16px 36px;
  background-color: #FFBD54;
  border-radius: 3px;
  color: #fff;
  align-items: center;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease;
  &:hover{
    background-color: rgb(237, 23, 191);
    border-radius: 10px;
    color: #ffffff;
  }
  &::before{
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../../img/coin.svg);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
    margin-right: 8px;
  }
}
.link-block__black{
  padding: 16px 36px;
  background-color: #000000;
  border-radius: 3px;
  color: #fff; 
  align-items: center;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease;
  &:hover{
    background-color: aqua;
    border-radius: 10px;
    color: #000000;
  }
   
    &::before{
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../../img/document.svg);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center ;
    vertical-align: middle;
    margin-right: 8px;
  }

}
@media only screen and (max-width:1240px) {
  .veterinary__list{
    
    flex-wrap: wrap;
    
    justify-content: center;
  }
  .veterinary__item{
    text-align: center;
    margin: 0 70px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:1106px) {
.inspection{
  flex-direction: column;
  text-align: center;
}
.inspection__cat-block{
  max-width: 400px;
  margin-bottom: 20px;
}
.inspection__task{
  margin: 0 auto;
  margin-bottom: 20px;
}
.veterinary__item{
  text-align: center;
  margin: 0 60px;
  margin-bottom: 10px;
}

}
@media only screen and (max-width:811px) {
  .veterinary__item{
    margin: 0 30px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:690px) {
  .inspection__link-block{
    flex-direction: column
  }
  .link-block__yellow{
    margin-bottom: 20px;
  }
}
